body{
    overflow-x: hidden;
    background-color: #054b24;
    background-image: url(../IMG/cannabis2.jpg);
    background-attachment: fixed;
    background-blend-mode: multiply;
}

b{
    color: #049144;
}

a{
    
    color: #049144;
    text-decoration: none;
    margin: auto;
}

header{
    margin: auto;
    background-color: #dfece6;
    box-shadow: 0px 0px 60px black;
}

nav{
    max-width: 1300px;
    margin: auto;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Cairo';
    font-weight: 400;
    color: black;
    transition: all 0.4s ease 0s;
}
nav ul li a:hover{
    color:#049144;
}


.nav__ul{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}


.nav__li{
    font-size: 20px;
    margin: 0 30px 0 30px;
    text-align: center;

}
.nav__li:first-child{
    margin-right: auto;
}
.nav__li:first-child > h1{
    margin: 15px 0;
    font-size: 35px;
}


.nav__li:first-child > h1 > a{
    color:black;
    font-weight: 600;
    
}

.main_page{
    max-width: 1500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    background-color:#dfece6;
    display: flex;
    flex-direction: column;
    padding: 0 0 50px 0;
}

.main_head{
    max-width: 1500px;
    height: 200px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color:#0da350bd;
    background-image: url(../IMG/cannabis2.jpg);
    background-blend-mode: multiply;
    background-position: center;
}
article{
    font-family: 'Cairo';
    padding-top: 0;
    
}
article > h3{
    font-size: 2rem;
    color:#054b24;
}
article > p{
    font-size: 1.1rem;
    
}
article > div{
    margin-top: 15px;
    margin-bottom: 20px;
}
article > div > a{
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    font-size: 0.9rem;
    padding: 5px 7px 5px 7px;
    color: black;
    transition: all 0.4s ease 0s;
    border-radius: 5px;
    display: inline-block;
    margin-left: 10px;
}
article > div > a:hover{
    background-color: white;  
    transform: scale(1.1);
    cursor: pointer;
}


footer{
    background-color: #0491443d;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
footer > p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Cairo';
    font-size: 1.2rem;
    color: #c9c9c9;
}
footer > p > a{
    color: #4c966f;
    text-decoration: none;
}
footer > p > a:hover{
    text-decoration: underline;
}
.grid-container{
    display: grid;
    margin: 0 40px;
    column-gap: 80px;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr;
}
.grid-container > article{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: #4c966f2d;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


@media (max-width: 900px){
    
    body{
        background-color: #0da350;
        background-attachment: fixed;
    }
    
    header{
        border-radius: 0;
    }
    nav{
        margin: 0;
    }

    .nav__ul{
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;

    }
    .nav__li{
        margin: 5px;
        padding: 5px;
        font-size: 5vw;
        margin-right: 0;
        width: 30vw;
    }
    .nav__li:first-child{
        width: 100%;
        text-align: center;
    }

    .nav__li:first-child > h1{

        font-size: 10vw;
        margin-bottom: 0px;

        
    }

    .main_page{
        border-radius: 0;
        padding: 20px 0 20px 0;
        margin: 40px 0 40px 0;
        box-shadow: 0 0 5px #ffffff ;
    }
    .start-image{
        display: none;
    }

    .next{
        display: none;
    }
    .servicio{
        border-radius: 0;
        margin-top: 10px;
    }

    .servicio-grid_container{
        display: block;
        font-size: 5vw;
        padding-bottom: 0;
    }
    .servicio-grid_container > .servicio-grid_child > div{
        align-self: flex-start;
    }
    .servicio-grid_container > .servicio-grid_child > p{
        margin: 0;
        margin-bottom: 50px;
    }

    .chala > .img_container{
        margin-right: 0px !important;
    }
    
    .casa > div{
        margin-left: 0 !important;
    }
    
    .hoja > div{
        margin-right: 0px !important;
    }
    
    .check > div{
        margin-left: 0 !important;
    }
}

@media (max-width:750px){
    
    .main_head{
        display: none;
    }
    article > h3{
        font-size: 1.4rem;
        color:#054b24;
    }
    .grid-container{
        grid-template-columns: 1fr;
    }


}
