body {
  overflow-x: hidden;
  background-color: #054b24;
  background-image: url(../IMG/cannabis2.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
}

b {
  color: #049144;
}

header {
  margin: auto;
  background-color: #dfece6;
  box-shadow: 0px 0px 60px black;
}

nav {
  max-width: 1300px;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li a {
  text-decoration: none;
  font-family: "Cairo";
  font-weight: 400;
  color: black;
  transition: all 0.4s ease 0s;
}
nav ul li a:hover {
  color: #049144;
}

.nav__ul {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.nav__li {
  font-size: 20px;
  margin: 0 30px 0 30px;
  text-align: center;
}
.nav__li:first-child {
  margin-right: auto;
}
.nav__li:first-child > h1 {
  margin: 15px 0;
  font-size: 35px;
}

.nav__li:first-child > h1 > a {
  color: black;
  font-weight: 600;
}

.container {
  height: 100vh;
}

.main_page {
  max-width: 1500px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 150px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  background-color: #dfece6;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 30px 20px;
  font-family: Cairo;
}
.main_page > h2 {
  font-size: 40px;
  text-align: center;
}
.main_page > div > div > p {
  font-size: 30px;
}
.preform-1 {
  display: flex;
  background-color: #4c966f2d;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.preform-1_text {
  background-color: #4c966f2d;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  height: 100%;
}
.preform-img {
  width: 1000px;
  transform: scale(0.95);
  background-image: url(../IMG/agricultores-tienen-arboles-marihuana-cannabis-sus-granjas11.jpg);
  background-size: cover;
  border-radius: 8px;
}
.notice {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
  text-align: center;
  background-color: #049144;
  padding: 0 10px 0 10px;
}

.form-data {
  background-color: #4c966f2d;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 20px;
}

.form-data > h3 {
  grid-column: 1/3;
}
.form-data > div {
  background-color: #4c966f2d;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-data > div > label {
  font-size: 20px;
  margin-bottom: 10px;
  min-width: 100px;
  text-align: center;
}

.form-data > div > input,
select {
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 5px 0;
}

.ventana {
  background-color: white;
  width: 800px;
  padding: 10px 20px;
  margin: 30% auto;
  position: relative;
  border-radius: 8px;
}
.ventana > h3{
  background-color: #4c966f2d;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.form-data > .modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: -250px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}
#IrVentanaFlotante:target {
  opacity: 1;
  pointer-events: auto;
}

.file-input {
  cursor: pointer;
}
.file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.file-input::before {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 400px;
  color: black;
  padding: 5px;
  content: "Seleccionar archivo";
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: all 0.4s ease 0s;
}
.file-input:hover::before {
  transform: scale(1.1);
  background-color: #0da350;
}
.file-input:active::before {
  background-color: white;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 50%;
  padding: 20px 0;

  font-size: 30px;

  border-radius: 30px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  background-color: rgb(6, 190, 89);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease 0s;
}

button img {
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
}

button:hover {
  background-color: white;
  color: black;
  transform: scale(1.02);
}

.finalizado {
  font-family: Cairo;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: -250px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

footer {
  background-color: #0491443d;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer > p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Cairo";
  font-size: 1.2rem;
  color: #c9c9c9;
}
footer > p > a {
  color: #4c966f;
  text-decoration: none;
}
footer > p > a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
  body {
    background-color: #0da350;
    background-attachment: fixed;
  }
  header {
    border-radius: 0;
  }
  nav {
    margin: 0;
  }

  .nav__ul {
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
  }
  .nav__li {
    margin: 5px;
    padding: 5px;
    font-size: 5vw;
    margin-right: 0;
  }
  .nav__li:first-child {
    width: 100%;
    text-align: center;
  }

  .nav__li:first-child > h1 {
    font-size: 10vw;
    margin-bottom: 0px;
  }
  .main_page {
    margin-top: 40px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  .main_page > div > div > p {
    font-size: 5vw;
  }

  .preform-img {
    display: none;
  }

  .main_page > h2 {
    font-size: 8.5vw;
  }
  .preform-2 > h3 {
    font-size: 6vw;
  }
  .preform-2 > div > div {
    font-size: 5vw;
  }
  .preform-2 > div > div > span {
    font-size: 4vw;
  }
  .notice {
    font-size: 5vw;
  }

  .form-data {
    grid-template-columns: 1fr;
  }
  .form-data > h3 {
    grid-column: 1;
  }
  .finalizado{
    top: 0px;
  }
  .ventana {
    width: 95vw;
  }
}
